@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f0f3f4];
}

.entry-link {
  @apply text-blue-500 hover:text-blue-300 transition-all;
}

.entry-table {
  @apply border border-gray-300 bg-white shadow-xl print:shadow-none;
}

.entry-table th,
.entry-table td {
  @apply p-2;
}

.entry-table a {
  @apply text-blue-500 hover:text-blue-300 transition-all;
}

.entry {
  @apply border border-gray-300 bg-white shadow-xl p-2;
}

.entry h2 {
  @apply text-xl font-light mb-4 border-b border-b-gray-200;
}

.entry p {
  @apply mb-2;
}

.markdown a {
  @apply text-blue-500 hover:text-blue-300 transition-all;
}

.markdown table {
  @apply w-full;
}

.markdown thead {
  @apply border-b-gray-200 border-b;
}

.markdown tbody tr:nth-of-type(2n) {
  @apply bg-gray-100;
}

.markdown td,
.markdown th {
  @apply p-2;
}

.markdown pre {
  @apply m-2;
}

.markdown h3,
h4,
h5,
h6 {
  @apply text-lg font-light mb-4 mt-2;
}

.markdown .icon-link::before {
  @apply text-sm;
  content: '🔗';
}

.markdown ul {
  @apply list-disc ml-4;
}

.markdown > ul {
  @apply mb-2;
}

.markdown ol {
  @apply list-decimal ml-4;
}

.markdown > ol {
  @apply mb-2;
}

/* NProgress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #29d,
    0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 25px;
  left: 25px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
