x-shared:
  net-doc-service: &net-doc-service
    environment: &net-doc-environment
      - PASSWORD_KEY=YOUR KEY
      - PASSWORD_SALT=YOUR SALT
      - PASSWORD_IV=YOUR IV
      - DATABASE_URL=file:./data/net-doc.db
      - REDIS_URL=net-doc-redis:6379
    volumes: &net-doc-volumes
      - ./db:/app/prisma/data
      - ./uploads:/app/public/uploads
      - ./backups:/app/public/backups
    image: net-doc-service
    restart: always
    depends_on:
      - net-doc-redis

services:
  net-doc-remix:
    <<: *net-doc-service
    command: ['net-doc-remix']

  net-doc-worker:
    <<: *net-doc-service
    command: ['net-doc-worker']
    depends_on:
      - net-doc-remix

  net-doc-nginx:
    <<: *net-doc-service
    command: ['net-doc-nginx']
    depends_on:
      - net-doc-remix
    ports:
      - '8080:80'

  net-doc-redis:
    image: redis:7
    restart: always
    volumes:
      - ./data/redis:/data
